header{
    border: 10px solid lightblue; 
    background-color: cyan;
}
nav{
    border: 10px solid darkcyan;
    background-color: orange;
    color: white;
}
main{
    background-color: lightgray;
}
section{ 
    border: 10px solid lightgray;
    background-color: yellow;
    color: black;
}
article{
    background-color: green;
    color: black;
}
aside{
    background-color: purple;
    color: white;
}
footer{
    background-color: black;
    color: white;
}