p { 
    font-family: Arial, sans-serif;
    font-size: 14px; 
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.quadrado_azul{
    background-color: blue;
    width: 50px;
    height: 50px;
    padding: 10px;
     margin: 10px;
}     
.quadrado_vermelho{
    background-color: red;
    width: 50px;
    height: 50px;
    padding: 10px;
     margin: 10px;
}
.quadrado_amarelo{
    background-color: yellow;
    width: 50px;
    height: 50px;
    padding: 10px;
     margin: 10px;
}